
html, body {
    color: #333333;
    background-color: #FFFFFF;
    font-family: 'Noto Serif';
    font-size: 16pt;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

.icon-home:before {
    font-family: FontAwesome;
    content: "\f015"
}
.a-hover, .entries h3, .entries a, .home-icon a {
    color: #333;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear
}

.a-hover:hover, .entries h3:hover, .entries a:hover, .home-icon a:hover {
    color: #333;
    text-decoration: none;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.home-icon {
    font-size: 2.5em;
    margin: 1.5em 0 -1.1em
}

[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none !important;
    background-position: 0% 0%;
    background-repeat: repeat
}


.top-strip {
    background-color: #000000;
    height: 14px;
}

.post, .row-fluid {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 30px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 100px;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10vmin;
    font-weight: bold;
    letter-spacing: 1vmin;
    line-height: 100%;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 60px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 6vmin;
}

h3 {
    font-size: 4vmin;
}

h5 {
    font-size: 2vh;
    font-weight: normal;
    letter-spacing: 2vmin;
    margin-bottom: -50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.icon-home {
    cursor: auto;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    height: 42px;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    width: 100%;
}

p {
    
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
}

pre {
    width: 100%;
    overflow-x: auto;
    font-size: 14pt;
}

pre, code {
    background-color: #F8F8F8;
    color: #DD1144;
    font-family: Monaco, Menlo, Consolas, monospace;
}


footer {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: small;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer a, footer a:visited {
    color: #FFFFFF;
}

ul.entries, ul.entries li, ul.pages, ul.pages li {
    list-style-type: none;
    text-align: center;
}

ul.entries a {
    color: #333333;
    text-decoration: none;
}

ul.entries h3 {
    margin: 0;
    letter-spacing: 0;
    text-decoration: underline;
}
