<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %} - by Daniel Flower</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/highlights.css">

		<link rel="shortcut icon" href="ico/favicon.png">
	</head>
	<body>

	{{ content }}

	<footer>
		<div class="container">
			Layout by <a href="http://richbray.me/frap/">Frappuccino</a> | Other stuff copyright Daniel Flower 2015
		</div>
	</footer>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-59122302-1', 'auto');
		ga('send', 'pageview');
	</script>
	</body>
</html>